/* Phần navbar sex fix lại */
.header{
    
    height: 0;
    width: 100%;

    position: relative;
    top: 0;
}
.header_topbar{
    height: 50px !important;
    z-index: 4 !important;
    top: 0px;
}
.header_navbar{
    position: fixed !important;
    padding-top: 14px !important;
    z-index: 5 !important;
    background: black;
    height: 50px;
}

/* Container */
.app_container{
    margin-top: 20px;
    /* padding: 50px var(--padding-dt) !important; */
    padding: 50px 0px !important;

}
.app_container_top{
    margin-bottom: var(--padding-dt);
}
.app_container_top_to,
.app_container_top_to:hover{
    display: inline-block;
    text-decoration: none;
    color: #252a2b;
    font-size: 1.3rem;
    line-height: 1.3rem;
    margin-right: 0px;
    border-right: 1px solid #ccc;
    padding-right: 6px;
    padding-left: 6px;
}
.app_container_top_from,
.app_container_top_from:hover{
    display: inline-block;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.3rem;
    line-height: 1.3rem;
    padding-left: 6px;
}
/* .owl-dot{
    display: none !important;
}
.owl-nav{
    display: none !important;
} */
/* .owl-dot{
    width: 20px;
    height: 20px;
    color: red;
    font-size: 1.6rem;
} */
.owl-carousel button{
    display: none !important;
}
.app_container_product{
    margin-bottom: 30px;
    /* padding: 0px var(--padding-dt); */
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}
.app_container_product_images{
    margin-right: var(--padding-dt);
}
.app_container_product_images_big_content{
    background-color: #f3f3f3;
    /* width: 100%; */
}
.app_container_product_images_big{
    background-color: #f3f3f3;
    padding: 0 var(--padding-dt);
    /* margin: 0 var(--padding-dt); */
    margin-bottom: 4px;
    position: relative;
}
.product_images_big{
    width: 100%;
}
/* zooom */
.app_container_product_images_big:hover .app_container_product_images_big_zoom{
    /* display: block; */
}
.app_container_product_images_big:hover .img-zoom-lens{
    /* display: block; */
}
.app_container_product_images_big_zoom{
    display: none;
    position: absolute;
    /* background: red; */
    top: 0;
    bottom: 0;
    /* width: 600px; */
    width: calc(100% + 100px);
    right: calc((-100% - 200px));
    /* z-index: 1; */
}
.img-zoom-lens {
    display: none;
    position: absolute;
    border: 1px solid #d4d4d4;
    /*set the size of the lens:*/
    width: 200px;
    height: 200px;
    background: #cec7c7;
    opacity: 0.5;
    cursor: crosshair;
  }
.app_container_product_images_small{
    position: relative;
}
.app_container_product_images_small_img:hover{
    cursor: pointer;
}
.app_container_product_images_small_prev{
    position: absolute;
    left: 5px;
    top: 40%;
    z-index: 2;
    font-size: 1.8rem;
    color: #4d4d4f;
}
.app_container_product_images_small_next{
    position: absolute;
    right: 5px;
    top: 40%;
    z-index: 2;
    font-size: 1.8rem;
    color: #4d4d4f;
}






.app_container_product_info{
    margin-left: var(--padding-dt);
    padding: 30px 0px;
    /* background: rgb(209, 193, 193); */
}
.app_container_product_info_name{
    display: block;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 700;
    /* text-transform: uppercase; */
    margin-bottom: 10px;
    /* font-family: 'Roboto','Arial',sans-serif; */
}
.app_container_product_info_code{
    font-size: 1.4rem;
    line-height: 1.4rem;
    text-align: center;
    margin-bottom: 10px;
}
.app_container_product_info_code_text{
    display: inline-block;
    color: #252a2b;
    
}
.app_container_product_info_code_name{
    display: inline-block;
    color: #252a2b;
    font-weight: bold;
}
.app_container_product_info_price{
    display: block;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 600;
    font-family: 'Roboto','Arial',sans-serif;
    color: #000;
    margin-bottom: 10px;
}
.app_container_product_info_sale{
    text-align: center;
}
.app_container_product_info_sale_new{
    display: inline-block;
    margin-right: 10px;
    font-size: 2.2rem;
    color: red;
    font-family: 'Roboto','Arial',sans-serif;
    font-weight: 600;
}
.app_container_product_info_sale_old{
    display: inline-block;
    font-size: 1.6rem;
    text-decoration: line-through;
}

/* Color */
.product_color{
    margin-top: 10px;
    text-align: center;
}
.product_color_list{
    list-style: none;
    display: inline-block;
    margin-right: 10px;
    border: 2px solid transparent;
    padding: 0px 2px;
    user-select: none;
    position: relative;
}
.product_color_list:hover{
    border: 2px solid green;
    cursor: pointer;
}
.product_color_list:hover .product_color_list_title{
    display: block;
}
.product_color_list:hover:before{
    /* display: none; */
    content: "";
    position: absolute;
    top: -15px;
    left: calc(50% - 5px);
    border-width: 10px 5px 0px;
    border-style: solid;
    border-color: black transparent transparent transparent;
    z-index: 10;
}
.product_color_list_title{
    display: none;
    position: absolute;
    padding: 4px 10px;
    bottom: calc(100% + 15px);
    background: black;
    text-align: center;
    color: var(--white-color);
    left: -5px;
    border-radius: 15px;
}
.product_color_list:last-child{
    margin-right: 0;
}
.product_color_radio{
    /* display: block; */
}
.product_color_radio_input{
    display: none;
}
/* Size */
.product_size{
    text-align: center;
    margin-top: 20px;
}
.product_size_list{
    display: inline-block;
    margin-right: 2px;
    padding: 2px 2px;
    border: 2px solid transparent;
    user-select: none;
    position: relative;
}
.product_size_list:hover{
    cursor: pointer;
}
.product_size_list:last-child{
    margin-right: 0;
}
.product_size_radio{
    font-size: 1.1rem;
    font-weight: 400;
    color: #787878;
    padding: 5px 10px !important;
    border: 1px solid var(--black-color);
}
.product_size_radio_input{
    display: none;
}
.product_size_radio_btn{
    text-transform: uppercase;
}
.product_soldout{
    opacity: 0.5;
}

.app_modal_product_size_note{
    font-size: 1.6rem;
    color: var(--text-color);
    color: #ccc;
    text-transform: uppercase;
}
.app_modal_product_size_note:hover{
    cursor: pointer;
}
/* Qty */
.product_number{
    display: block;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.product_number_btn{
    display: inline-block;
    /* padding: 5px 11px 6px 11px; */
    font-size: 2rem;
    line-height: 2rem;
    background: var(--white-color);
    color: var(--black-color);
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;

}
.product_number_qty{
    display: inline-block;
    font-size: 2rem;
    color: var(--black-color);
    width: 80px;
    height: 40px;
    outline: none;
    
    border-left: none;
    border-right: none;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    text-align: center;
    margin-top: -2px;
    margin-right: -4px;
    margin-left: -3px;
}
.product_number_qty:hover{
    cursor: pointer;
}
.app_container_product_info_submit{
    /* padding: 0 100px; */
}
.product_submit{
    display: block;
    background: var(--black-color);
    color: var(--white-color);
    text-align: center;
    margin: 0 auto;
    width: 100%;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px 0;
    outline: none;
    border: none;
    border-radius: 30px;
    margin-bottom: 30px;
}
.accordion-item_product{
    border-left: none !important;
    border-right: none !important;
}
.accordion-button_product{
    font-size: 1.4rem !important;
    font-weight: 600 !important;
    text-align: center !important;
    display: block !important;
    outline: none !important;
    color: var(--black-color) !important;
    background: none !important;
    border: none !important;
    border-bottom: 1px solid #ccc !important;
    box-shadow: none !important;
}
.collapsed_product{
    color: #888 !important;
}
.product_info_content{
    padding: 10px 20px;
}
.product_info_title{
    font-size: 1.4rem;
    font-weight: 800;
    text-transform: uppercase;
    color: var(--black-color);
}
.product_info_content_text{
    display: block;
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    margin-left: 10px;
}
.text_inline{
    /* display: inline-block; */
}
.product_info_shipping_list{
    font-size: 1.2rem;
    font-weight: 400;
    display: block;
}
.product_info_shipping_list_text{
    display: inline-block;
}

/* Sản phẩm liên quan */
.app_container_product_related{

}
.app_container_product_related_top{
    margin-bottom: var(--padding-dt);
    display: flex;
    justify-content: space-between;
}
.app_container_product_related_title{
    font-size: 2.2rem;
    font-weight: 800;
    color: var(--black-color);
    text-transform: uppercase;
}
.app_container_product_related_move{
    display: flex;
    width: 30px;
    font-size: 1.8rem;
    justify-content: space-between;
}



